#profile {
  display: flex;
  height: 520px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  background-color: #f0a000;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
}


#profile .avatar {
  padding-top: 150px;
}

#profile .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile span {
  font-size: 150%;
}