#profile {
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  background-color: #f0a000;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
}


#profile .avatar {
  padding-top: 40px;
}

#profile .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile span {
  font-size: 150%;
}

/*
 * CSS for responsive design
 */

@media only screen and (min-width: 1024px) {
  #page {
    display: flex;
  }

  #profile {
    width: 30%;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .container {
    margin-left: 1em;
    width: 70%;
  }
  
  main {
    margin-right: 1em;
  }
}